*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("../Image/gym-composition-with-sport-elements.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0 auto;
}

/* Logo */
#logo {
    width: 180px;
}

/* Navigation */
.navMenu ul {
    background-color: rgba(255, 165, 0, 0.1);
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0px;
}

.navMenu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 40px; /* Ajoute un peu d'espace */
    transition: color 0.3s ease-in-out; /* Effet fluide */
}

.navMenu a:hover {
    color: rgb(0, 119, 255);
}

.titrePrincipal h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0 auto; /* Assure un centrage correct */
}

/* service */
.service{
   display: flex;
   justify-content: space-between;
   margin: 50px;
}

.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.delivery-icon{
    display: flex;
    font-size: 80px;
    color: rgb(127, 255, 133);
    
}

.service-para{
    font-weight: 600;
    width: 200px;
    text-align: center;
}
/* service */


/*meilleur ventes*/
.vente-titre{
    font-size: 50px;
    color: white;
    position: relative;
    
}  

.vente-titre::before{
    content: " ";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.vente{
    margin: 150px;
}

.vente-image{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.vente-lien{
    background-size: cover;
    background-position: center; 
}

.no-grid{
    min-width: 450px;
    height: 350px;
}

.vente1{
    background-image: url("../Image/Chaussure_Campus_00s_Noir_HQ8708_01_standard.avif");
    
}

.vente2{
    background-image: url("../Image/AIR+MAX+90.png");
}

.vente3{
    background-image: url("../Image/15f585b9d893421e82cb546e86acf6f2.webp");
}

.vente4{
    background-image: url("../Image/Chaussure_de_randonnee_Eastrail_2.0_Noir_HP8606_01_standard.avif");
}

.vente-detail{
    background-color: rgba(212, 159, 60, 0.204);
    position: absolute;
    width: 410px;
    height: 80px;
    padding: 5px 20px;
    
}

.vente-nom{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #651fb4;
    font-size: 30px;
    line-height: 5px;
}

.vente-prix{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 0, 0);
    line-height: 5px;
}
/*meilleur ventes*/

/* nos chaussures */

.nos-chaussure{
    margin: 150px;
}

.nos-chaussure-grid{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.nos-chaussure-a{
    background-size: cover;
    background-position: center;
    min-width: 450px;
    height: 350px; 
}

.image1{
    background-image: url("../Image/shopping.webp");   
}

.image2{
    background-image: url("../Image/shopping2.webp");   
}

.image3{
    background-image: url("../Image/Chaussure_Samba_OG_Noir_B75807_07_standard.avif");
}

.image4{
    background-image: url("../Image/2600758-full_product.webp");
}

.image5{
    background-image: url("../Image/23c48fb1d71b465e9174a2a1fa53e7d4.webp");
}

.image6{
    background-image: url("../Image/Chaussure_de_running_Ultrarun_5_Vert_IE8785_01_standard.avif");
}

.image7{
    background-image: url("../Image/NIKE+AIR+MAX+PLUS+UTILITY.png");
}

.image8{
    background-image: url("../Image/NIKE+CORTEZ.jpg");
}
.nos-chaussure-d{
    background-color: rgba(60, 212, 60, 0.204);
    position: absolute;
    width: 410px;
    height: 80px;
    padding: 5px 20px;
    
}

.nos-chaussure-n{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 5px;
}

.nos-chaussure-p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 5px;
}

/* nos chaussures */






